@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,422;1,422&display=swap');

body{
    margin: 0;
    font-family: "Nunito";
    font-size: larger;
}

p{
    padding: 0;
    margin: 0;
}

.sidebar-esq a{
    border: 3px ridge gray;
    background: linear-gradient(#EBEBEB, #D1D1D1);
    color: black;
}
.sidebar-esq a:active{
    border: 3px inset gray;
    background: radial-gradient(ellipse at center, #D1D1D1, #EBEBEB);
}

.container{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
}

.wrapper{
    background-color: rgb(0, 0, 158);
    color: white;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: stretch;
    flex: 1;
    min-height: 100vh;
    margin: 0;
}

.main .central{
    width: auto;
    background: linear-gradient(rgb(211, 211, 211), rgb(179, 179, 179));
    flex: 1;
    display: flex;
    flex-flow: column wrap;
}

.central > * {
    padding-left: 0.5%;
    padding-right: 0.5%;
    margin: 0.5% 0.5% 0;
}

.central .content{
    padding-top: 7px;
    flex: 1;
    color: black;
    background-color: white;
}

.main .sidebar-esq{
    padding-top: 7px;
    background-color: rgb(50,50,188);
    flex-basis: 7%;
    padding-left:2vh;
    padding-right:2vh;
    border-color: rgba(25,25,100,0.5);
    border-right-style: ridge;
    border-width: 3px;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

.main .sidebar-dir{

}

.header{
    background: linear-gradient(rgb(50,50,255),rgb(50, 50, 158));
    color: white;
    margin: 0;
    height: 30px;
    border-color: rgba(25,25,100,0.5);
    border-bottom-style: groove;
    border-width:3px;
    display: flex;
    flex-flow: column wrap;
    align-items: start;
}

.header p{
    margin-top: auto;
    margin-bottom: auto;
}

.footer{
    background: linear-gradient(rgb(50,50,255),rgb(0, 0, 158));
    color: white;
    margin: 0;
    height: 5px;
    border-color: rgba(155,155,155,0.5);
    border-top-style: ridge;
    border-width:3px;
}